__pycache__/
backup_trazabilidad_por_ia/

#ignorar todos los archivos dentro de la siguiente carpeta
documentacion_trazabilidad/*
#exceptuando los dos siguientes:
!documentacion_trazabilidad/README.md
!documentacion_trazabilidad/DOCUMENTACION_COMPLETA.md

prueba_hablar.py
preguntas_a_chatgpt.py
__gendocs_trazabilidad.py

base_de_datos_interna.db

*.pyc